/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}

/* top players style  */
.player-title{
    font-size: 24px;
    margin-top: 1px;
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.player h3{
    font-size: 18px;

}
