/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
}


/* top players style  */
.top-players{
    margin-bottom: 20px;
}
.player-title{
    font-size: 24px;
    margin-top: 1px;
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
.player h3{
    font-size: 18px;
}

/* ========================
        top blog styles
========================== */
.top-blogs{
    margin-top: 19px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
}
.blog-image img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title h3{
    font-size: 20px;
}
.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}